
  .txtcolor{
    color:#7300e6;
  }

  .btn-outline:hover{
    background-color: #a9dbef;
  }
   .tdesign{

      border-collapse: separate;
      border-spacing:0 15px;

   }

   .bodySection{
    background-color: white;
   }

   .bodySection tr:hover{
    background-color:#bee4f3;
   }



.dropdown-toggle::after {
  display:none;
}
